.header {
  display: flex;
  justify-content: space-evenly;
  padding: 10%;
  &_logo {
    width: 70px;
    height: 70px;
    padding-top: 1rem;
  }
  &-text {
    padding-top: 2.5rem;
    font-family: $font-titles;
    font-weight: 700;
    font-size: 1.8rem;
  }
}
