.results-list {
  width: 70vw;
}

.js-form-title {
  margin: 1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

.js-form-list {
  width: 600px;
  overflow: scroll;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.js-card {
  background-color: #f4dfeb;
  color: $color1;
  list-style: none;
  &-img {
    width: 200px;
    height: 200px;
  }
  &-title {
    margin: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
  }
}
