* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list-container {
  display: flex;
  flex-direction: row-reverse;
}

.js-form-list {
  display: grid;
  grid-column: 1fr, 1fr, 1fr;
  width: 50vw;
  height: 100vh;
}

.js-fav.list {
  width: 50vw;
  height: 100vh;
}

.js-card {
  border: 2px solid black;
  background-color: lightgrey;
}

.js-fav {
  background-color: black;
  color: lightgray;
}
